.SideBar {
  width: 160px;
  height: 2000px;
  float:left;
  padding-left: 21px;
  padding-right: 5px;
  padding-top: 1px;
  background-color: rgb(249,249,249);
}

img.SideBar {
  width: 100%;
  height: auto;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
}

body {
  background-color: white;
}


.thumbimg {
  float: left;
  text-align: center;
}

.GreyFrame {
  background-color: rgb(249,249,249);
  border-width: thin;
  border-style: solid;
  float: left;
  width: 84%;
  height: 120px;
  margin-bottom: 6px;
  margin-left:  30px;
  margin-top: 30px;
  border-color: rgb(150,150,150);
}

.GreenFrame {
  background-color: rgb(245,255,250);
  border-color: rgb(206,242,224);
  border-width: 1px;
  border-style: solid;
  float: left;
  width: 45%;
  height: 750px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-left: 30px;
}

.BlueFrame {
  background-color: rgb(245,250,255);
  border-color: rgb(206,223,242);
  border-width: 1px;
  border-style: solid;
  float: left;
  width: 37%;
  height: 750px;
  margin-left: 3px;
  margin-bottom: 3px;
}

.PurpleFrame {
  background-color: rgb(250,245,255);
  border-color: rgb(221,206,242);
  border-width: 1px;
  border-style: solid;
  float: left;
  width: 82%;
  height: 385px;
  margin-top: 3px;
  margin-left: 30px;
}

.NoMarginY {
  margin: 1px;
  padding: 1px;
  text-align: center;
}

.center {
  text-align: center;
}
